* {
    margin: 0;
    padding: 0;
}

.root {
    /* Primary colors*/
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);

    /* Neutral colors*/
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);


}

body {
    min-height: 100vh;
    font-size: 15px;
    font-family: 'League Spartan', sans-serif;
}

main {
    min-height: 95vh;
    display: grid;
}










.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
